h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', geneva, Verdana, sans-serif;
font-size: 80px
}


body {
    background-color:brown
}

p {
    font-size: 20px
}